# 共通
.DS_Store
.env
.env.*
!.env.example
*.log
.vscode/
.idea/

# バックエンド
back/bin/
back/tmp/
back/*.exe
back/*.exe~
back/*.dll
back/*.so
back/*.dylib
back/*.test
back/*.out
back/vendor/
back/.env
back/coverage.txt
back/*.cover
back/*.coverprofile
